@mixin flex-item($basis, $grow, $shrink) {
  flex-basis: $basis;
  flex-grow: $grow;
  flex-shrink: $shrink;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
