@import '../../sass/_mixins.scss';

.channel {
  margin: 5px auto;

  .channel-title {
    font-size: 24px;
    margin: 5px;
    padding: 5px;
  }

  .channel-content {
    display:flex;
    flex-wrap: nowrap;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &:hover {
      overflow-x:auto;
    }
  }

  .repository {
    // Modifiers
    &:hover {
      background-color: #97bcff;
      transition: background-color 200ms ease-in-out;

      .repository-button a {
        //color: #000000;
        //background-color: #ffffff;
        //transition: background-color 200ms ease-in-out;
      }
    }

    // Basic
    box-sizing: border-box;
    position: relative;
    width: 230px;
    margin: 5px;
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.5);
    display: block;
    text-decoration: none;
    color: black;

    // mixins
    @include border-radius(15px);
    @include flex-item(250px, 0, 0);

    .repository-body {
      min-height: 150px;
      max-height: 200px;
      overflow: auto;
      .repository-title {
        padding: 0 5px;
        text-align: center;
        color: #070b3b;
      }

      .repository-description {
        padding: 0 5px;
      }
    }

    .repository-button {
      text-align: center;

      a {
        display: block;
      }
    }
  }
}






