
<div class="channel" *ngFor="let channel of channels">
  <!--<div class="channel-title">{{channel.title}}</div>-->
  <div class="channel-title">
    <h4>Because you're contributing to <a href="{{channel.source.url}}" target="_blank">{{channel.source.name}}</a></h4>
  </div>
  <div class="channel-content">
    <a *ngFor="let repository of channel.repositories" href="{{repository.url}}" target="_blank" class="repository" >
        <div class="repository-body">
          <h5 class="repository-title">{{repository.name}}</h5>
          <p class="repository-description">{{repository.desc}}</p>
          <p>topics</p>
          <div class="repository-tags">
            <div class="repository-tag" *ngFor="let topic of repository.topics">
              {{topic}}
            </div>
          </div>
        </div>
      <div class="repository-score" *ngIf="repository.score != null">
        {{(repository.getScore())}}%
      </div>
    </a>
  </div>
</div>
