@import '../../sass/_mixins.scss';
@import '../../sass/_variables.scss';

.channel {
  margin: 5px auto;
  color: $text-light;
  .channel-title {
    font-size: 24px;
    margin: 5px;
    padding: 0 23px;
  }

  .channel-content {
    display:flex;
    padding: 23px;
    flex-wrap: nowrap;
    overflow:hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &:hover {
      overflow-x:auto;
    }
  }

  .repository {
    // Modifiers
    &:hover {
      background-color: lighten($dark-color, 50%);
      z-index:999;
      transform: scale(1.1);
    }

    // Basic
    transition: all 200ms ease-in-out;
    box-sizing: content-box;
    position: relative;
    width: 230px;
    height: 230px;
    margin: 5px;
    padding: 20px;
    background-size: cover;
    display: block;
    text-decoration: none;
    overflow: hidden;


    // mixins
    @include border-radius(15px);
    @include flex-item(250px, 0, 0);

    .repository-body {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      @include linear-gradient(180deg, $grad-dark-start, $grad-dark-end);
      .repository-title {
        padding: 0 5px;
        text-align: center;
        color: $text-light;
      }

      .repository-description {
        padding: 0 5px;
      }

      .repository-tags {
        padding: 5px;
        overflow-y: auto;
        .repository-tag {
          display: inline-block;
          margin: 2px;
          padding: 5px;
          background-color: aliceblue;
        }
      }
    }

    .repository-button {
      text-align: center;

      a {
        display: block;
      }
    }

    .repository-score {
      position:absolute;
      right: 5px;
      bottom: 0;
      padding: 5px;
    }
  }

  .channel-info {
    //display: none;
    color: $text-light;
    width: 100vw;
    //height: 360px;
    font-weight: lighter;
    overflow-y: scroll;
    //padding: 23px;
    position: relative;

    .left-panel {
      margin: 0;
      padding: 10px;
    }

    .right-panel {
      margin: 0;
      padding: 10px;
    }

    .quick-facts {
      list-style-type: none;
      padding: 0;
      .key {
        font-weight: 500;
      }
    }


    .tags {
      padding: 5px;
      overflow-y: auto;
      .tag {
        display: inline-block;
        margin: 2px;
        padding: 5px;
        background-color: $repo-tag-color;
      }
    }

    .desc {

    }

  }
}






