@import '../../sass/_mixins.scss';
@import '../../sass/_variables.scss';

.channel {
  margin: 5px auto;

  .channel-title {
    font-size: 24px;
    margin: 0 5px;
    padding: 5px;
  }

  .channel-content {
    display:flex;
    flex-wrap: nowrap;
    overflow:hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &:hover {
      overflow-x:auto;
    }
  }

  .repository {
    // Modifiers
    &:hover {
      background-color: #97bcff;
      transform: scale(1.1);
      transition: all 200ms ease-in-out;

      .repository-button a {
        //color: #000000;
        //background-color: #ffffff;
        //transition: background-color 200ms ease-in-out;
      }
    }

    // Basic
    //box-sizing: border-box;
    box-sizing: content-box;
    //padding-bottom: 17px;
    position: relative;
    width: 230px;
    height: 230px;
    margin: 5px;
    padding: 20px;
    //background-color: rgba(200, 200, 200, 0.8);
    background-size: cover;
    display: block;
    text-decoration: none;
    overflow: hidden;
    color: black;

    // mixins
    @include border-radius(15px);
    @include flex-item(250px, 0, 0);

    .repository-body {
      overflow: hidden;
      .repository-title {
        padding: 0 5px;
        text-align: center;
        color: #070b3b;
      }

      .repository-description {
        padding: 0 5px;
      }

      .repository-tags {
        padding: 5px;
        overflow-y: auto;
        .repository-tag {
          display: inline-block;
          margin: 2px;
          padding: 5px;
          background-color: aliceblue;
        }
      }
    }

    .repository-button {
      text-align: center;

      a {
        display: block;
      }
    }

    .repository-score {
      position:absolute;
      right: 5px;
      bottom: 0;
      padding: 5px;
    }
  }

  .channel-info {
    //display: none;
    width: 100vw;
    height: 360px;
    background: red;
    padding: 5px;
    margin: 0 5px;
  }
}






