<ng4-loading-spinner > </ng4-loading-spinner>
<ngx-smart-modal #popuptwo [identifier]="'popuptwo'">
  <h1>Title 2</h1>
  <p>Hello</p>
  <button (click)="popuptwo.close()">Close</button>
</ngx-smart-modal>
<div *ngIf="!authenticated && !loading" style="background-color:white;">
  <app-jumbotron title="Repommender" subTitle="A Recommendation System for Developers" actionUrl="{{actionUrl}}" actionText="{{actionText}}"></app-jumbotron>
  <app-home-info></app-home-info>
</div>
<div *ngIf="authenticated && !loading" class="repommender-channels">
  <app-channel></app-channel>
</div>
