<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/"><img class="logo" src="../../assets/android-icon-36x36.png" />Repommender</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" *ngIf="!user">
          <a class="nav-link" href="{{login_url}}">Login</a>
      </li>
      <li class="nav-item dropdown" *ngIf="user">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="user-avatar" src="{{user.avatar}}">
          {{user.name}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="" (click)="modalService.getModal('prefModal').open()">Preferences</a>
          <a class="dropdown-item" routerLink="" (click)="logout($event)">Logout</a>
          <!--<div class="dropdown-divider"></div>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
        </div>
      </li>
    </ul>
  </div>
</nav>
