<div class="modal" id="test">
  asdgassa
</div>

<div class="preference-group">
  <h3>Topics</h3>
  <button type="button" data-toggle="modal" data-target="#test">Open Modal</button>
  <p>
    <tag-input [ngModel]="[]"
               [onlyFromAutocomplete]="true" [placeholder]="['+Topics']" [secondaryPlaceholder]="['Add a new topic']">
      <tag-input-dropdown [showDropdownIfEmpty]="true"
                          [autocompleteItems]="topics">
      </tag-input-dropdown>
    </tag-input>
  </p>
</div>
