<div class="container home-info">
  <div class="row">
    <div class="col-md-4 info-col">
      <h2>Contribute</h2>
      <p>Recommended is an open source project that aims to help developers from all over the world improve their open source browsing experience better</p>
      <p><a class="btn btn-secondary btn-dark" href="https://github.com/shachmatos/repommender" target="_blank" role="button">Go to repository »</a></p>
    </div>
    <div class="col-md-4 info-col">
      <h2>Trending</h2>
      <p>See what the GitHub community is most excited about today.</p>
      <p><a class="btn btn-secondary btn-dark" href="https://github.com/trending" target="_blank" role="button">View Trending »</a></p>
    </div>
    <div class="col-md-4 info-col">
      <h2>Explore</h2>
      <p>You can find new and interesting open source projects to work on by browsing Explore, looking through recommended projects, connecting with the GitHub community, and searching repositories by topics or labels.</p>
      <p><a class="btn btn-secondary btn-dark" href="https://github.com/explore" target="_blank" role="button">Explore »</a></p>
    </div>
  </div>

  <hr>

</div>
