<div class="container home-info">
  <div class="row">
    <div class="col-md-4 info-col">
      <h2>Learn</h2>
      <p>If you're a starting developer or a seasoned one, Repommender will find projects for you based on your preferences and previous contributions.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4 info-col">
      <h2>Contribute</h2>
      <p>As you find interesting projects don't stand on the sidelines and contribute! The more your contribute the more projects we will find for you! </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4 info-col">
      <h2>Explore</h2>
      <p>Have a specific niche in mind? Customize your preferences and receive relevant recommendations.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
  </div>

  <hr>

</div>
